{% extends 'TrackerBundle::layout.html.twig' %}
{% block content %}
<br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="row">

			<div class="col-lg-4 col-lg-offset-4">
				<div class="panel panel-primary">
			      <div class="panel-heading">
			        <h3 class="panel-title"><i class="fa fa-briefcase"></i> {{ global.app.nombre }}</h3>
			      </div>
			      <div class="panel-body">
			        	<p class="text-center">
        {{ global.app.nombre }}
        </p>
			      </div>
    			</div>
			</div>			
		
		
	</div>	
</div>

{% endblock %}
