<html>
 <body style="background-color: black">
   <table width="100%" height="90%" >
    <tr>
     <td align="center">
      <img src="{{ asset('bundles/seguridad/images/error403.jpg')}}" alt="{{'_acceso_denegado'|trans}}" title="{{'_acceso_denegado'|trans}}" />
     </td>   
    </tr>
   </table>
  </body>
</html>
